body {
  background-image: url(../img/b034.gif);
}
body header{
  display: flex;
}

.linkcategorycontainer{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.linkcategorycard{
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  line-height: 1;
  background-color:rgba(0, 0, 0, 0.3);
}

.linkcontainer{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.linkcard{
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  line-height: 1;
  background-color:rgba(255, 165, 0, 0.5);
}

.outerlink{
  opacity: 1;
}

#clock{
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-left: auto;
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
  background-color: rgba(0, 63, 255, 0.3);
}